@using SporSalonuProjesi.Data.Entities
@model List<GymClass>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int counter = 1;
}

<h5>Classes</h5>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Img</th>
        <th>Duration Minutes</th>
        <th>Fee</th>
        <th>Title</th>
        <th>Delete</th>
        <th>Edit</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@counter</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td style="width: 120px;">
                <img src="@Url.Content(item.ImageUrl)"
                     style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px;"
                     alt="Class Image" />
            </td>
            <td>@item.DurationMinutes</td>
            <td>@item.Fee</td>
            <td>@item.Title</td>
         
            <td>
                <a asp-area="Admin" asp-action="Delete" asp-controller="AdminClasses" asp-route-id="@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a>

            </td>
            <td>
                <a asp-area="Admin" asp-action="Edit" asp-controller="AdminClasses" asp-route-id="@item.Id" class="btn mb-1 btn-rounded btn-outline-primary">Edit</a>

            </td>


        </tr>
        counter++;
    }

</table>

<a asp-area="Admin" asp-action="Create" asp-controller="AdminClasses" class="btn btn-info">Create New Class</a>

